@model CreateCommentViewModel

@{
    ViewBag.Title = "EditComment";
}

<h2>Edit Comment</h2>

<form method="post" enctype="multipart/form-data" style="margin-top:50px">
    @Html.ValidationSummary(false)

    <div class="form-group">
        @Html.LabelFor(p => p.Comment, "Comment")
        @Html.TextAreaFor(p => p.Comment, new { @class = "form-control", placeholder = "Comment", rows = 5, columns = 5 })
        
        <div class="">
            <button type="submit" class="btn btn-default">Submit</button>
        </div>
    </div>
</form>
