@model EditDisplayNameViewModel


@{
    ViewBag.Title = "EditDisplayName";
}

<h2>Edit Display Name</h2>

@using (Html.BeginForm("EditDisplayName", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{   
    @Html.HiddenFor(p => p.UserId)
    <h4>Edit Display Name</h4>
    <hr />

    <div class="form-group">
        @Html.LabelFor(p => p.DisplayName, "Display Name", new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(p => p.DisplayName, new { @class = "form-control" })
        </div>
    </div>
    
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Update Profile" class="btn btn-default" />
        </div>
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

